*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 50px;
    background-color:cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 200px;
    
}
    img{
        width: 100px;
        padding-top: 20px;
}

h1{
    padding-top: 10px;
    
}

span{
    color: dimgray;
    ;
}
#azzurro{
    color: aqua;
}
#piccolo{
    font-size:xx-small;
    line-height: 0px
    ;
}
#foto1{
    width: 300px;
}
#foto2{
    width: 255px;
}
.didascalia{
    font-size: xx-small;
    display:block;
    }

    .evidenziato{
        background: yellow;
        color: black;

    }
    ul{
        margin: 20px;;
    }
    table{
    border:none
        }

    thead{
        background-color:blue;
        color: aliceblue;
    }
    
    
    #bianco{
        background-color:white;
    }
    .dispari{
        background-color: aqua;
    }
    #grigio{
        color: grey;
    }
    #monitor{
        width: 200px;
        display: block;
    }
    #grafico{
        width: 200px;
        padding-top: 10px;
    }

    .container{
        position: relative;
        text-align: center;

    }
    div{
        position: absolute;
        
        color: black;
    }



